*, :after, :before 
{
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body 
{
    font-family: 'Cairo', sans-serif;
    font: 400 15px/28px Cairo;
    letter-spacing: 0px;
    background-color: #fff;
    color: #677294;
    padding: 0px;
    margin: 0;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}
 a {
    font: 300 16px/20px Cairo;
    color: #677294;
}
button
{
    border: none;
}
/* start of the header */
.header
{
    background-color: #1c335f;
    /* padding: 12px 0px; */
    padding-top: 12px;
}
.First-Header-list
{
    font-size: 14px;
    text-transform: capitalize;
}
.First-Header-list li
{
    display: inline-block;
    font-weight: 400;
    color: #fff;
    padding-left: 10px;
}
.First-Header-list li img
{
    width: 30px;
    height: 30px;
}
.First-Header-list li a
{
    color: #c3c1da;
    font-weight: 300;
    padding-left: 5px;
}
.First-Header-list li a img
{
    width: 15px;
    height: 10px;
    margin-right: 5px;
}
.First-Header-list li a i
{
    color: #fff;
}
/* end of the header */


/* Start of the navbar */
.nav-image
{
    width: 200px;
    
}
/* End of the navbar */

/* start of the hero section */
.gabbing
{
    min-height: 720px;
    height: 100vh;
    overflow: hidden;
    position: relative;

}
.carousel-caption
{
    z-index: 10;
    color: #fff;
    text-align: left;
    top: 30%;
    left: 10;
    bottom: auto;
    visibility: visible;

}
.carousel-caption h2
{
    width: 470px;
    font-size: 50px;
    line-height: 64px;
    font-weight: 600;
    margin-bottom: 20px;

}
.s-Botton
{
    font-size: 16px;
    font-weight: 500;
    border-radius: 45px;
    line-height: 26px;
    padding: 8px 27px;
    display: inline-block;
    background-color: #6facfa;
    color: #fff;
}
.s-Botton-2
{
    background-color: #f3af4e;
    font-size: 16px;
    font-weight: 500;
    border-radius: 45px;
    line-height: 26px;
    padding: 8px 27px;
    display: inline-block;
    color: #fff;

}
/* end of the hero section */

/* Start of services section */
.icon
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    line-height: 66px;
    margin-bottom: 15px;
}

.card-design
{
    border-radius: 24px;
    height: 200px;
    /* width: 200px; */
    margin-top: 10px;
}
/* End of services section */

/* start of the ay zft section */
.featurette-divider {
    margin: 5rem 0;
}
hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: white !important;
    border: 1px solid white;
    border-top: none;
   
}
/* end of the zft section */

/* start of progress circles */
.paddings
{
    padding-top: 120px;
    padding-bottom: 120px;

}
.circle
{
    height: 150px;
    width: 150px;
    border: 8px solid #aa6ffa;
    border-radius: 50%;
    position: relative;

}
.circle .box ,
.circle .box span

{
    position: absolute;
    top: 50%;
    left: 50%;

}
.circle .box 
{
    height: 100%;
    width: 100%;
    transform: translate(-50% , -50%);
    border-radius: 50%;

}
.circle .box span 
{
    transform: translate(-50% , -50%);
    font-size: 25px;
    font-weight: 600;
}
.text
{
    font-size: 20px;
    font-weight: 500;
    /* transform: translate(-150% , -50%); */

}
/* End of progress circles */




/* start of the footer */
.style-icon a
{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    text-align: center;
}
/* End of the footer */