*, :after, :before 
{
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body 
{
    font-family: 'Cairo', sans-serif;
    font: 400 15px/28px Cairo;
    letter-spacing: 0px;
    background-color: #fff;
    color: #677294;
    padding: 0px;
    margin: 0;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}
 a {
    font: 300 16px/20px Cairo;
    color: #677294;
}
button
{
    border: none;
}
/* start of the header */

/* start of the preloader */
/* #preloader
{
    background: white url(loader.gif) no-repeat center center;

    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100000;
} */

/* #preloader2
{
    background: white url(result.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 65%;
    z-index: 100000;
    display: flex;
} */
iframe
{
    visibility: hidden;
}
.loader
{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}
.loader img
{
    display: block!important;
}
.disappear
{
    animation: vanish 5s forwards;

}
@keyframes vanish
{
    100%
    {
        opacity: 0;
        visibility: hidden;
    }
}
/* End of the preloader */
.header
{
    background-color: #1c335f;
    /* padding: 12px 0px; */
    padding-top: 12px;
}
.First-Header-list
{
    font-size: 14px;
    text-transform: capitalize;
}
.First-Header-list li
{
    display: inline-block;
    font-weight: 400;
    color: #fff;
    padding-left: 10px;
}
.First-Header-list li img
{
    width: 30px;
    height: 30px;
}
.First-Header-list li a
{
    color: #c3c1da;
    font-weight: 300;
    padding-left: 5px;
}
.First-Header-list li a img
{
    width: 15px;
    height: 10px;
    margin-right: 5px;
}
.First-Header-list li a i
{
    color: #fff;
}
/* end of the header */


/* Start of the navbar */
.nav-image
{
    width: 200px;
    
}
/* End of the navbar */

/* start of the hero section */

.imgUpdateHeight , .updateHeight
{
    height: 800px!important;
}
.carousel-caption
{
    color: #fff;
    text-align: left;
    top: 30%;
    left: 10;
    bottom: auto;

}
.carousel-caption h2
{
    /* width: 470px; */
    font-size: 50px;
    line-height: 64px;
    font-weight: 600;
    margin-bottom: 20px;

}
.s-Botton
{
    font-size: 16px;
    font-weight: 500;
    border-radius: 45px;
    line-height: 26px;
    padding: 8px 27px;
    display: inline-block;
    background-color: #6facfa;
    color: #fff;
}
.s-Botton-2
{
    background-color: #f3af4e;
    font-size: 16px;
    font-weight: 500;
    border-radius: 45px;
    line-height: 26px;
    padding: 8px 27px;
    display: inline-block;
    color: #fff;

}
/* end of the hero section */

/* Start of services section */
.icon
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    line-height: 66px;
    margin-bottom: 15px;
}

.card-design
{
    border-radius: 24px;
    height: 200px;
    /* width: 200px; */
    margin-top: 10px;
}
/* End of services section */

/* start of the ay zft section */
.featurette-divider {
    margin: 5rem 0;
}
hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: white !important;
    border: 1px solid white;
    border-top: none;
   
}
/* end of the zft section */

/* start of progress circles */
.paddings
{
    padding-top: 120px;
    padding-bottom: 120px;

}


/* End of progress circles */

/* test */
.cont
{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill
{
    width: 160px;
    height: 160px;
    position: relative;
}
.outer
{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
}
.inner
{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#number1 ,#number2 , #number3 ,#number4
{
    font-weight: 600;
    color: #fff;

}
circle
{
    fill: none;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
}
#c1
{
    animation: anim 2s linear forwards;

}
#c2
{
    animation: anim2 2s linear forwards;
}
#c3
{
    animation: anim3 2s linear forwards;

}
#c4
{
    animation: anim4 2s linear forwards;

}
svg
{
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim
{
    100%{
        stroke-dashoffset: 188.8;
    }
}
@keyframes anim2
{
    100%{
        stroke-dashoffset: 118;
    }
}
@keyframes anim3
{
    100%{
        stroke-dashoffset: 100;
    }
}
@keyframes anim4
{
    100%{
        stroke-dashoffset: 190;
    }
}

/* end of test */
/* start of the footer */
.style-icon a
{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    text-align: center;
}
/* End of the footer */